body {
  margin: 0;
  font-family: Arial;
  background: #f5f6fa;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #2f3640;
  color: white;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background: #40739e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.contenido {
  flex: 1;
  padding: 20px;
}

.seccion {
  display: none;
}

.activa {
  display: block;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
}

.contacto {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}